@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    5% {
        transform: translate(0px, 20px) rotate(0deg);
    }
    10% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    15% {
        transform: translate(0px, -20px) rotate(0deg);
    }
    20% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate(0px, 18px) rotate(0deg);
    }
    30% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    35% {
        transform: translate(0px, -18px) rotate(0deg);
    }

    40% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    45% {
        transform: translate(0px, 16px) rotate(0deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    55% {
        transform: translate(0px, -16px) rotate(0deg);
    }

    60% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    65% {
        transform: translate(0px, 14px) rotate(0deg);
    }

    70% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    75% {
        transform: translate(0px, -14px) rotate(0deg);
    }

    80% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    85% {
        transform: translate(0px, 12px) rotate(0deg);
    }

    90% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    95% {
        transform: translate(0px, -12px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.vertical-shake {
    animation: tilt-n-move-shaking 0.6s 1;
    animation-timing-function: ease-out;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.progress-bar {
    -webkit-transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
    -moz-transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
    -o-transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
    -ms-transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
    transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sidebar-buttons {
    border-radius: 0px;
    line-height: 15px;
    color: white;
    font-size: small;
    text-align: center;
    margin: 0px;
    height: 60px;
    padding: 0px;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-dropdown {
    background-color: #1b6ec2;
    border-radius: 0.25rem;
    color: white;
    width: 200px;
    height: 35px;
    padding: 5px 12px 5px 12px;
    position: relative;
    margin: 10px 0px 10px 0px;
}

.custom-dropdown-item {
    background-color: white;
    color: #212529;
    width: 100%;
}

    .custom-dropdown-item:hover {
        background-color: whitesmoke;
    }

    .custom-dropdown-item:active {
        background-color: #6c757d;
        color: white;
    }

.custom-scrollbar {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.2;
    background-size: cover;
    z-index: 0;
    background-position-y: center;
}

.bg-parent {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    background-position-y: center;
    opacity: 0.2;
    background-size: cover;
    margin-left: -15px;
}



.bank-scroll {
    height: calc(100vh - 411px);
    max-height:592px;
}

    .bank-scroll::-webkit-scrollbar {
        height: calc(100% - 220px);
        width: 18px;
        background: darkgray;
        scrollbar-face-color: lightgray;
    }

    .bank-scroll::-webkit-scrollbar-thumb {
        background-color: lightgray;
        border-right: none;
        border-left: none;
    }

.custom-scroll::-webkit-scrollbar {
    width: 18px;
    background: darkgray;
    scrollbar-face-color: lightgray;
    border-radius: 0.25rem;
}

.custom-scroll-thin::-webkit-scrollbar {
    height: 5px;
    background: darkgray;
    scrollbar-face-color: lightgray;
    border-radius: 0.25rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-right: none;
    border-left: none;
    border-radius: 0.25rem;
}

.item-view-button {
    right: 5px;
    position: absolute;
    bottom: 5px;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
        max-width:100%;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
.main-inventory {
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
    padding: 3px;
    margin: 2px;
    border-radius: 0.25rem;
    max-height: calc(66vh - 160px);
    overflow-y: auto;
}
.follower-inventory {
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
    padding: 3px;
    margin: 2px;
    border-radius: 0.25rem;
    overflow-y: auto;
    min-height:65px;
    max-height: calc(40vh - 125px);
}
.crafting-menu {
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
    background-color: dimgray;
    min-height: 50px;
    overflow-y:scroll;
    height:calc(50vh - 110px);
    max-height:30vh;
}
.item-stat-box {
    border-bottom: solid black 1px;
    position: relative;
    background-color: gray;
    overflow-x: visible;
    font-size: 16px;
}
.item-stat-info {
    margin-right:5px;
    line-height:28px;
    flex-grow:1;
    white-space:nowrap;
}
.item-stat-image {
    height: 26px;
    width: 26px;
    margin-top: -3px;
}
.settings-button {
    background-color: white;
    border: solid black 1px;
    border-radius: 0.25rem;
    right: -13px;
    position: relative;
    top: -9px;
}

.message-window {
    position: fixed;
    overflow-y: scroll;
    max-height: 200px;
    height: 200px;
    bottom: 3px;
    background-color: #4d4d4d;
    border-radius: 0.5rem;
    padding-left: 10px !important;
    padding-top: 15px !important;
    margin-left: 15px;
    overflow-x: hidden;
}

.hide-message-window {
    position: fixed;
    height: 55px;
    bottom: 3px;
    background-color: #4d4d4d;
    border-radius: 0.5rem;
    padding-left: 10px !important;
    padding-top: 15px !important;
    margin-left: 15px;
    overflow-x: hidden;
}

.transparent-message-window {
    background-color:#4d4d4d8d!important;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }




