@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.progress-bar {
    -webkit-transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
    -moz-transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
    -o-transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
    -ms-transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
    transition: width .15s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sidebar-buttons {
    border-radius: 0px;
    line-height: 15px;
    color: white;
    font-size: small;
    text-align: center;
    margin: 0px;
    height: 60px;
    padding: 0px;
    min-width: 60px;
}

.custom-dropdown {
    background-color: #1b6ec2;
    border-radius: 0.25rem;
    color: white;
    width: 200px;
    height: 35px;
    padding: 5px 12px 5px 12px;
    position: relative;
    margin: 10px 0px 10px 0px;
}

.custom-dropdown-item {
    background-color: white;
    color: #212529;
    width: 100%;
}

    .custom-dropdown-item:hover {
        background-color: whitesmoke;
    }

    .custom-dropdown-item:active {
        background-color: #6c757d;
        color: white;
    }

.custom-scrollbar {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.bank-scroll {
    height: calc(100vh - 420px);
}

    .bank-scroll::-webkit-scrollbar {
        height: calc(100% - 220px);
        width: 18px;
        background: darkgray;
        scrollbar-face-color: lightgray;
    }

    .bank-scroll::-webkit-scrollbar-thumb {
        background-color: lightgray;
        border-right: none;
        border-left: none;
    }

.custom-scroll::-webkit-scrollbar {
    width: 18px;
    background: darkgray;
    scrollbar-face-color: lightgray;
    border-radius: 0.25rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-right: none;
    border-left: none;
    border-radius: 0.25rem;
}

.item-view-button {
    right: 5px;
    position: absolute;
    bottom: 5px;
}
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
